<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @player.email %></h1>
    <p>
      The game will start soon.
      The Rails Games team :)
    </p>
  </body>
</html>
